$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ccc;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}

#container {
  margin-top: 8%;
}

.switch-control {
  margin: 0 auto;
  width: 290px;
}

.switch-control label {
  user-select: none;
  font-size: 14px;
  font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.e-switch-wrapper .e-switch-on,
.e-switch-wrapper .e-switch-off {
  transition-delay: 0s;
}

li {
  list-style: none;
  padding-bottom: 15px;
  display: flex;
  font-weight: normal;
}

/* Custom color Switch */
.e-switch-wrapper.bar-color .e-switch-inner.e-switch-active,
.e-switch-wrapper.bar-color:hover .e-switch-inner.e-switch-active .e-switch-on {
  background-color: #22f750;
  border-color: #22f750;
}

.e-switch-wrapper.bar-color .e-switch-inner,
.e-switch-wrapper.bar-color .e-switch-off {
  background-color: #9dfbb1;
  border-color: #9dfbb1;
}

.e-switch-wrapper.bar-color .e-switch-handle {
  background-color: #fff;
}

/* handle color Switch */
.e-switch-wrapper.handle-color .e-switch-handle.e-switch-active,
.e-switch-wrapper.handle-color:hover .e-switch-handle.e-switch-active {
  background-color: #3df865;
  border-color: #3df865;
}

.e-switch-wrapper.handle-color .e-switch-inner.e-switch-active,
.e-switch-wrapper.handle-color:hover .e-switch-inner.e-switch-active .e-switch-on {
  background-color: #fff;
}

.e-switch-wrapper.handle-color .e-switch-inner,
.e-switch-wrapper.handle-color .e-switch-off {
  background-color: #fff;
}

.e-switch-wrapper.handle-color .e-switch-handle:not(.e-switch-active) {
  border: 1px solid #E1E1E1;
  box-shadow: 1px 1px 4px #E1E1E1;
}

.e-switch-wrapper.handle-color .e-switch-inner {
  border: 1px solid #E1E1E1;
}

.e-switch-wrapper.handle-color:hover .e-switch-inner {
  border: 1px solid #E1E1E1;
}

/* iOS Switch */
.e-switch-wrapper.custom-iOS .e-switch-inner.e-switch-active,
.e-switch-wrapper.custom-iOS:hover .e-switch-inner.e-switch-active .e-switch-on {
  background-color: #3df865;
  border-color: #3df665;
}

.e-switch-wrapper.custom-iOS {
  width: 42px;
  height: 24px;
}

.e-switch-wrapper.custom-iOS .e-switch-handle {
  width: 20px;
  height: 20px;
}

.e-switch-wrapper.custom-iOS .e-switch-handle.e-switch-active {
  margin-left: -22px;
}
